<%- include ('partials/_head') -%>
    <%- include ('partials/_header') -%>
        <%- include ('partials/_form') -%>
            <a href="/cargar" id="btnCargar" onclick="libroLoaded()">cargar libros</a>
            <section class="lista">
                <article>
                    <% if(libro) { %>
                        <% libro.forEach(element => { %>
                            <div>
                                <p class="titulo_libro">
                                    <%=element.nombre %>
                                        <%=element.valoracion%>&ensp;<i class="fas fa-star estrellas"></i>
                                </p>
                            </div>
                            <% }); %>
                                <% }%>
                </article>
            </section>
            <%- include ('partials/_cierre') -%>