<%- include ('partials/_head') -%>
    <%- include ('partials/_header') -%>
        <%- include ('partials/_form') -%>

            <%- include ('partials/_lista') -%>


                <div class="libro">
                    <img src="./img/1.jpg" alt="">
                </div>

                </div>
                <%- include ('partials/_cierre') -%>